.vs/
/Backend/Backend/obj
/Backend/Backend/Migrations
/Backend/Backend/bin
/Backend/Backend/Properties

/
Frontend/.env.development
Backend/Backend/Backend.http
Frontend/src/pages/User/Login.jsx
Backend/Backend/appsettings.Development.json
